body {
	background: green;
}

.content {
	background: pink;
	width: 1000px;
}

.content-1 {
	background: red;
	height: 500px;
	width: 498px;
	margin-right: 2px;
	float: left;
}

.content-2 {
	background: yellow;
	height: 500px;
	width: 490px;
	float: left;
}

@media only screen and (max-width: 600px)
{
	body {
		border: 1px solid #ffffff;
		background: blue;
	}
	.content-1 {
		background: #000000;
	}
	.content-2 {
		background: #ffffff;
	}
}