@font-face {
     font-family: Impact;
     src: url('fonts/impact.ttf');
}
@font-face {
     font-family: Yugo;
     src: url('fonts/yugothib.ttf');
}
body {
     width: 100%;
     display: table;
}
/* Global Styles */
/* Main Styles */
 .basix-container {
     display: table;
     min-height: 100vh;
     position: relative;
     width: 100%;
}
 .menu-sp{
     display: none;
}
 .right-panel{
     width: 1560px;
}
 aside.left-panel {
     background-color: #122d5a;
     display: table-cell;
     height: 100vh;
     min-height: 100%;
     vertical-align: top;
     min-width: 310px;
     transition: width 0.3s ease;
}
 .right-panel{
    /*width: 100%;
    */
}
 .left-head {
     height: 110px;
     display: block;
}
 .right-head {
     height: 110px;
     display: block;
     text-align: right;
     font-family: YuGo;
     font-size: 14px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.71;
     letter-spacing: normal;
     color: #98a5b3;
     padding-top: 20.5px;
     padding-right: 20px;
}
 .right-head a{
     text-decoration: none;
     color: #98a5b3;
}
 .logout {
     width: 110px;
     height: 30px;
     border-radius: 5px;
     border: solid 1px #d7dde4;
     display: inline-block;
     line-height: 30px;
     text-align:center;
     margin-left: 20px;
}
 .user{
     display: inline-block;
}
 .company-name {
     height: 110px;
     font-family: Impact;
     font-size: 30px;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.2;
     letter-spacing: normal;
     text-align: left;
     color: #ffffff;
     display: block;
     padding-top: 35px;
     padding-left: 40px;
     padding-right: 28px;
}
 .menu-left{
     width: 100%;
     display: block;
}
 .menu-left a:hover{
     text-decoration: none;
     color :white;
     cursor: pointer;
}
 .head-menu{
     position: relative;
     display: block;
     width : 100%;
     height: 50px;
     font-family: YuGo;
     font-size: 14px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: 50px;
     letter-spacing: normal;
     text-align: left;
     color: #ffffff;
     padding-left: 40px;
     padding-right: 28px;
}
 .head-menu:hover{
     background-color: #05132b;
}
 .head-menu.active:after{
     content: "\f107";
     color: #c8c9ce;
     font-family: 'Fontawesome';
     padding-right: 28px;
     font-size: 16px;
     position: absolute;
     right: 0;
     text-align: right;
     -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
     -ms-transition: all .25s ease;
     -o-transition: all .25s ease;
     transition: all .25s ease;
}
 .head-menu:after,.head-menu.active.collapsed:after{
     content: "\f105";
     color: #c8c9ce;
     font-family: 'Fontawesome';
     padding-right: 28px;
     font-size: 16px;
     position: absolute;
     right: 0;
     text-align: right;
     -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
     -ms-transition: all .25s ease;
     -o-transition: all .25s ease;
     transition: all .25s ease;
}
 .list-group.sub-menu{
     margin-bottom: 0px;
}
 .head-menu.active{
     background-color: #2164d1;
}
 .child {
     padding-left: 50px;
     height: 40px;
     background: #0b2145;
}
 .child:hover{
     background: #05132b;
}
 .child a {
     display: block;
     font-family: YuGo;
     color: #ffffff;
     font-size: 14px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: 40px;
     letter-spacing: normal;
     text-align: left;
}
 .child.active {
     background-color: #1e3f76;
    ;
}
 .base-area {
     width: 1000px;
     margin-left: 55px;
     height: 930px;
     background-color: #ffffff;
     box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
     border-radius: 5px;
     border: solid 1px #d7dde4;
     height: 930px;
     float:left;
}
 .base-content {
     position: relative;
     width: 100%;
     padding: 20px 20px 0px 20px;
}
 .base-content h3 {
     font-family: YuGo;
     font-size: 18px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.72;
     letter-spacing: normal;
     text-align: left;
     color: #4e5f6f;
     margin-top: 0px;
}
/*Start Custom w2ui*/
 .extension-setting {
     border: none;
}
 .w2ui-grid .w2ui-grid-body table .w2ui-head{
     background-color: #d7dde4 !important;
     background-image :none;
     font-family: YuGo;
     font-size: 14px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.71;
     letter-spacing: normal;
     text-align: left;
     color: #4e5f6f;
     height: 50px;
     vertical-align: middle !important;
}
 #grid_grid_column_0 {
     padding-left: 20px;
}
 .w2ui-head {
     background-color: #d7dde4;
}
 .extension-setting .w2ui-head {
}
 .text-icon{
     padding-left: 8px;
}
 .extension-setting input[type=checkbox] {
    /* Double-sized Checkboxes */
     -ms-transform: scale(1.4);
    /* IE */
     -moz-transform: scale(1.4);
    /* FF */
     -webkit-transform: scale(1.4);
    /* Safari and Chrome */
     -o-transform: scale(1.4);
    /* Opera */
     padding: 10px;
}
 .extension-setting tr th:first-child,.extension-setting tr td:first-child {
     padding-left:20px;
}
 .extension-setting tr td{
     height: 40px;
     font-family: YuGo;
     font-size: 11px;
     font-weight: 500;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.73;
     letter-spacing: normal;
     text-align: left;
     color: #4e5f6f;
     border : none !important;
     vertical-align: middle !important;
}
/*End Custom w2ui*/
 .filter{
     position: relative;
     top : -20px;
     width: 100%;
     padding: 0px 20px 0px 20px;
}
 .clear {
     height: 10px;
     margin-top: 0px;
     background-color: #ffffff;
     border: solid 1px #ebebeb;
     width: 279.1px;
     background-color: #174691;
}
 .count-result{
     width: 100%;
     text-align: center;
     height: 30px;
}
 .count-result .paging-index {
     width: 50px;
}
 .num-count{
     float:left;
     text-align: center;
}
 .paging{
     float:right;
     text-align: center;
}
 .num-count a.active, .paging a.active {
     background-color: #2164d1;
     font-size: 14px;
     color: #ffffff;
}
 .num-count a {
     width: 53px;
     height: 30px;
     float:left;
     font-family: YuGo;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: 30px;
     letter-spacing: normal;
     color: #7e8e9f;
     text-decoration: none;
     background-color: #ffffff;
     border: solid 1px #d7dde4;
}
 .paging a {
     width: 30px;
     height: 30px;
     float:left;
     font-family: YuGo;
     font-size: 14px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: 30px;
     letter-spacing: normal;
     text-align: left;
     color: #7e8e9f;
     text-decoration: none;
     background-color: #ffffff;
     border: solid 1px #d7dde4;
     text-align: center;
}
 .paging a:hover {
     cursor: pointer;
}
 .num-count a:first-child, .paging a:first-child {
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
}
 .num-count a:last-child , .paging a:last-child{
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
}
 .action{
     width: 100%;
     text-align: right;
     margin-top: 27px;
}
 .action a{
     text-decoration: none;
     width: 98px;
     height: 14px;
     font-family: YuGo;
     font-size: 14px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.71;
     letter-spacing: normal;
     text-align: left;
     color: #4e5f6f;
}
 .action .action-link:last-child {
     margin-right: 20px;
     margin-left:60px;
}
 .configuration-area {
     background-color: #ffffff;
     box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
     border-radius: 5px;
     border: solid 1px #d7dde4;
     margin-left:40px;
     height: 930px;
     padding-right: 20px;
     width: 490px;
     float:left;
     padding-left: 20px;
}
.configuration-area1{
     height: 2080px;
}
.configuration-area2{
     height: 1745px;
}
.configuration-area3{
     height: 1189px;
}
 .configuration-head{
     width: 77px;
     height: 5px;
     background-color: #2164d1;
     margin : 0px;
     margin-left: -20px;
}
.configuration-head1{
     width: 150px;
     margin-left: 60px;
}
.configuration-head2{
     width: 250px;
     margin-left: 90px;
}
.configuration-head3{
     width: 105px;
}
.configuration-head4{
     width: 150px;
}
.configuration-head5{
     width: 160px;
     margin-left: 130px;
}
 .configuration-input{
     height: 730px;
}
 .setting-opt-head {
     height: 18px;
     font-family: YuGo;
     font-size: 18px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.72;
     letter-spacing: normal;
     text-align: left;
     color: #4e5f6f;
     margin-top : 14px;
}
 .configuration-form {
     padding-top: 6px;
     font-family: YuGo;
     font-size: 14px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.71;
     letter-spacing: normal;
     text-align: left;
     color: #4e5f6f;
}
.configuration-form1{
     line-height: 0.71;
}
 .configuration-form label ,.configuration-form input , .configuration-form select {
     width: 100%;
}
 .configuration-form input[type="text"], .configuration-form input[type="number"] {
     height : 40px;
     margin-top: 10px;
     background-color: #ffffff;
     border: solid 1px #ebeef1;
     font-family: Helvetica;
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: normal;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     color: #4e5f6f;
}
 .configuration-form input[type="number"] {
     width: 225px;
}
 .configuration-form input[type=number]:hover::-webkit-inner-spin-button {
     width: 10px;
     height: 35px;
}
 .configuration-form label {
     margin-top : 20px;
}
 .configuration-form select {
     height: 30px;
     background-color: #ffffff;
     border: solid 1px #ebeef1;
     padding-left: 10px;
     font-family: Helvetica;
     font-size: 12px;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.17;
     letter-spacing: normal;
     text-align: left;
     color: #4e5f6f;
}
 .btn-add , .btn-edit , .btn-search {
     width: 90px;
     height: 40px;
     border-radius: 5px;
     background-color: #174691;
     box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
     font-family: YuGo;
     font-size: 14px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.71;
     letter-spacing: normal;
     color: #ffffff;
     text-align: center;
}
.btn-csv {
     width: 177px;
     height: 40px;
     border-radius: 5px;
     background-color: #174691;
     box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
     font-family: YuGo;
     font-size: 14px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.71;
     letter-spacing: normal;
     color: #ffffff;
     text-align: center;
}
 .btn-add:hover ,.btn-edit:hover , .btn-search:hover , .btn-csv:hover {
     color: #ffffff;
     background-color: #122d5a;
     box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
 .btn-text{
     margin-left:8px;
}
 .configuration-button-position{
     text-align: right;
     margin-top: 120px;
}
.configuration-button-position1{
     margin-top: 1262px;
}
.configuration-button-position2{
     margin-top: 935px;
}
.configuration-button-position3{
     margin-top: 379px;
}
/*Custom checkbox*/
 input[type=checkbox] {
     display: none;
}
 label.ckbox-custom {
     display: inline;
}
/*input[type=checkbox]:after ,*/
/*input[type=checkbox] + span::after {
    */
 label.ckbox-custom:after{
         content: " ";
         background-color: #fff;
         display: inline-block;
         color:#00BFF0;
         width:18px;
         height:18px;
         visibility: visible;
         border-radius: 2px;
         background-color: #ffffff;
         border: solid 1px #7e8e9f;
         margin-left:16px;
}
/*input[type=checkbox]:checked:after , */
 input[type=checkbox]:checked + label.ckbox-custom:after {
         content: "\f00c";
         font-family: FontAwesome;
         padding-top:3px;
         background: #174691;
         color: #ffffff;
         font-size: 15px;
}

/*custom scroll bar*/
 .table ::-webkit-scrollbar {
     width: 10px;
}
 .table ::-webkit-scrollbar-track {
     webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 .table ::-webkit-scrollbar-thumb {
     background-color: #174691;
     webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/*tab*/
 .setting-opt-head.nav-pills li a {
}
 .setting-opt-head.nav-pills>li.active>a, .setting-opt-head.nav-pills>li.active>a:focus, .setting-opt-head.nav-pills>li.active>a:hover {
     background: none;
     color: #4e5f6f;
}
 .setting-opt-head.nav>li>a {
     padding: 0px;
     padding-right: 40px;
}
 .tab-name {
     font-family: YuGo;
     font-size: 18px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.72;
     letter-spacing: normal;
     text-align: left;
     color: #98a5b3;
}
 .tab-name:hover {
     color: #4e5f6f;
}
 .filter-plus{
     margin-left:-2px;
}
 .filter-icon {
     width: 180px;
     height: 30px;
     border-radius: 5px;
     border: solid 1px #ffffff;
     padding: 8.5px 20px;
     cursor: pointer;
}
 .filter-bar {
     height: 50px;
     background-color: #2164d1;
     width: 100%;
     font-family: YuGo;
     font-size: 14px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: 50px;
     letter-spacing: normal;
     text-align: left;
     color: #ffffff;
     padding-left: 18px;
}
 .text-icon-filter{
     padding-left: 20px;
}
 .filter-contariner {
     width: 490px;
     height: 535px;
     background-color: #ffffff;
     box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
     padding: 20px;
}
 .filter-form label ,.filter-form input , .filter-form select {
     width: 100%;
}
 .filter-form label, {
     height: 40px;
     line-height: 40px;
     margin-bottom: 0px;
}
 .filter-form select , .filter-form input{
     height: 30px;
     background-color: #ffffff;
     border: solid 1px #ebeef1;
     padding-left: 10px;
     font-family: Helvetica;
     font-size: 12px;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.17;
     letter-spacing: normal;
     text-align: left;
     color: #4e5f6f;
     margin-bottom: 0px;
}
 .filter-form input{
     height: 40px;
}
 .filter-condition {
     width: 100%;
     text-align: right;
}
 .notice {
     font-family: YuGo;
     font-size: 18px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.72;
     letter-spacing: normal;
     text-align: left;
     color: #98a5b3;
     margin-top: 20px;
     display: block;
}
 .condition-rule {
     font-family: YuGo;
     font-size: 14px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.71;
     letter-spacing: normal;
     text-align: left;
     color: #4e5f6f;
     display: inline-block;
     padding-right: 20px;
}
 .condition-rule a{
     color: #2164d1;
     text-decoration: none;
}
 .btn-filter {
     height: 40px;
     border-radius: 5px;
     font-family: YuGo;
     font-size: 14px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     letter-spacing: normal;
     text-align: left;
     padding-right: 20px;
     padding-left: 20px;
}
 .btn-filter.btn-cancel {
     background-color: #d7dde4;
     box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
     color: #4e5f6f;
}
 .btn-filter.btn-dofilter {
     background-color: #174691;
     box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
     color: #ffffff;
     margin-left: 20px;
}
 .btn-dofilter:hover {
     color: #ffffff;
     background-color: #122d5a;
     box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
 .button-area {
     text-align: right;
     width: 100%;
     margin-top: 40px;
}
 .filter-position {
     position: absolute;
     width: 100%;
     padding-right: 40px;
     z-index: 2;
     top:110px;
}
 .hide-filter{
     float:right;
     margin-right: 20px;
     z-index: 3;
     cursor: pointer;
}
 .close-filter-area {
     font-family: YuGo;
     font-size: 18px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: 18px;
     letter-spacing: normal;
     text-align: left;
     color: #4e5f6f;
     margin-bottom: 20px;
}
 #close-filter {
     float: right;
     cursor: pointer;
}
 #filter-content {
     display: none
}
.inputfile {
     width: 0.1px;
     height: 0.1px;
     opacity: 0;
     overflow: hidden;
     position: absolute;
     z-index: -1;
}
.inputfile + label {
     width: 140px;
     height: 40px;
     border-radius: 5px;
     border: solid 1px #d7dde4;
     background-color: #ffffff;
}
.text-file{
     width: 106px;
     height: 12px;
     font-family: YuGo;
     font-size: 12px;
     font-weight: 500;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.67;
     letter-spacing: normal;
     text-align: left;
     color: #4e5f6f;
     margin-left: 12px;
}
.btn-dowload {
     float: right;
     margin-top: 40px;
}
.text-detail{
     width: 323px;
     height: 12px;
     font-family: YuGo;
     font-size: 12px;
     font-weight: 500;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.67;
     letter-spacing: normal;
     text-align: left;
     color: #ff0000;
}
